In [16]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import ipywidgets as widgets
from ipywidgets import interact, interact_manual, Layout
from IPython.display import Markdown, display, HTML
from IPython import utils
mpl.style.use('seaborn')

In [41]:
df = pd.read_csv('mexico_clean_data.csv')
df.set_index('ID_REGISTRO', inplace=True)
print(df.shape)
df.head(100)

(1044936, 16)

,SEXO,ENTIDAD_NAC,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,Age Ranges
ID_REGISTRO,,,,,,,,,,,,,,,,
z482b8,2,9,2,2,41,2,2,2,2,2,2,2,2,2,2,41 - 55
z49a69,1,23,1,1,66,2,1,2,2,2,1,2,1,2,2,56 - 70
z23d9d,2,24,2,2,29,2,2,2,2,2,2,2,98,2,2,25 - 40
zz8e77,2,9,2,2,34,2,2,1,1,2,2,2,2,2,2,25 - 40
z1b0d1,1,1,2,2,48,2,1,2,2,2,2,2,1,2,2,41 - 55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
z5ac3a,1,31,2,2,31,2,2,2,1,2,2,2,2,2,2,25 - 40
z1d478,1,29,2,2,24,2,2,2,2,2,2,2,2,2,2,<25
z479a5,1,31,2,2,8,2,2,2,2,2,2,2,2,2,2,<25
z4afe7,1,9,2,2,25,2,2,2,2,2,2,2,2,2,2,<25
z39c71,2,31,2,2,41,2,2,2,2,2,2,2,2,2,2,41 - 55

In [75]:
si_no = {
    1: 1,
    2: 0,
    97: None,
    98: None,
    99: None
}
conversions= {
    'SEXO': {
        1: 'MUJER',
        2: 'HOMBRE',
        3: 'NA'
    }, 
    'INTUBADO': si_no,
    'NEUMONIA': si_no,
    'EMBARAZO': si_no,
    'DIABETES': si_no,
    'EPOC': si_no,
    'ASMA': si_no,
    'INMUSUPR': si_no,
    'HIPERTENSION': si_no,
    'CARDIOVASCULAR': si_no,
    'OBESIDAD': si_no,
    'RENAL_CRONICA': si_no,
    'TABAQUISMO': si_no
}

dt = df.copy()
for k,v in conversions.items():
    dt[k] = dt[k].replace(v)
    
dt = dt.drop(columns=['EDAD', 'ENTIDAD_NAC'])
dt.head()

,SEXO,INTUBADO,NEUMONIA,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,Age Ranges
ID_REGISTRO,,,,,,,,,,,,,,
z482b8,HOMBRE,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41 - 55
z49a69,MUJER,1,1,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,56 - 70
z23d9d,HOMBRE,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,25 - 40
zz8e77,HOMBRE,0,0,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,25 - 40
z1b0d1,MUJER,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,41 - 55

In [76]:
# Remove NaNs. Will lose less than 3% of the data
dt = dt.dropna()
dt.head()
# Will remove nans for now to avoid unnecessary complexity on the model. Could consider including them in the future

,SEXO,INTUBADO,NEUMONIA,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,Age Ranges
ID_REGISTRO,,,,,,,,,,,,,,
z482b8,HOMBRE,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41 - 55
z49a69,MUJER,1,1,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,56 - 70
zz8e77,HOMBRE,0,0,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,25 - 40
z1b0d1,MUJER,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,41 - 55
z2d0c4,MUJER,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,56 - 70

In [78]:
# Convert columns to binary
for col in dt:
    if len(dt[col].unique()) == 2 and dt[col].dtype != object:
        dt[col] = dt[col].astype(np.int0)
cols = ['INTUBADO','NEUMONIA','EMBARAZO']
for col in cols:
    dt[col] = dt[col].astype(np.int0)

In [81]:
# Encode categorical features
dd = pd.get_dummies(dt)
dd.head()

,INTUBADO,NEUMONIA,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,SEXO_HOMBRE,SEXO_MUJER,Age Ranges_25 - 40,Age Ranges_41 - 55,Age Ranges_56 - 70,Age Ranges_71 - 85,Age Ranges_85+,Age Ranges_<25
ID_REGISTRO,,,,,,,,,,,,,,,,,,,,
z482b8,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
z49a69,1,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0
zz8e77,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0
z1b0d1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0
z2d0c4,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0

In [82]:
# Check dataset balance
display(dd.groupby('INTUBADO').size(),
dd.groupby('NEUMONIA').size())

INTUBADO
0    982113
1     34549
dtype: int64

NEUMONIA
0    872309
1    144353
dtype: int64

In [100]:
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.linear_model import LogisticRegressionCV

# Model for INTUBADO
X = dd.drop(columns=['INTUBADO','NEUMONIA'])
y = dd.INTUBADO
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.3, random_state=0)

lr = LogisticRegressionCV(cv=sss, random_state=0, n_jobs=-1).fit(X, y)

In [101]:
display(lr.score(X, y))
display(lr.scores_)

0.9660172210626541

{1: array([[0.96601628, 0.96601628, 0.96601628, 0.96600645, 0.96600645,
         0.96600645, 0.96600645, 0.96600645, 0.96600645, 0.96600645],
        [0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628,
         0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628],
        [0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628,
         0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628],
        [0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628,
         0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628],
        [0.96601628, 0.96601628, 0.96601628, 0.966013  , 0.96600972,
         0.96600972, 0.96600972, 0.96600972, 0.96600972, 0.96600972],
        [0.96601628, 0.96601628, 0.96601628, 0.966013  , 0.966013  ,
         0.966013  , 0.966013  , 0.966013  , 0.966013  , 0.966013  ],
        [0.96601628, 0.96601628, 0.96601628, 0.966013  , 0.966013  ,
         0.966013  , 0.966013  , 0.966013  , 0.966013  , 0.966013  ],
        [0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628,
         0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628],
        [0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628,
         0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.96601628],
        [0.96601628, 0.96601628, 0.96601628, 0.96601628, 0.966013  ,
         0.966013  , 0.966013  , 0.966013  , 0.966013  , 0.966013  ]])}

In [102]:
from sklearn.metrics import f1_score

display(f1_score(y, lr.predict(X)))
pd.DataFrame({'true': y, 'pred':lr.predict(X)})

0.0

             true  pred
ID_REGISTRO
z482b8          0     0
z49a69          1     0
zz8e77          0     0
z1b0d1          0     0
z2d0c4          0     0
...           ...   ...
152a09          0     0
0ebaaf          0     0
05c07c          0     0
1de190          0     0
1298b1          0     0

[1016662 rows x 2 columns]

In [103]:
feature_importance = pd.DataFrame(lr.coef_)
feature_importance.columns = X.columns
feature_importance.T.sort_values(0)

                           0
Age Ranges_25 - 40 -0.459219
Age Ranges_<25     -0.224178
SEXO_MUJER         -0.181338
Age Ranges_41 - 55 -0.097964
ASMA               -0.023306
EMBARAZO           -0.003339
TABAQUISMO          0.008140
Age Ranges_85+      0.041032
INMUSUPR            0.052586
EPOC                0.060066
CARDIOVASCULAR      0.062604
RENAL_CRONICA       0.097803
OBESIDAD            0.138377
SEXO_HOMBRE         0.181346
Age Ranges_71 - 85  0.347071
HIPERTENSION        0.350876
DIABETES            0.356482
Age Ranges_56 - 70  0.393266